footer {
    height: 365px;
    width: 100%;
    padding: 60px 120px;
}

footer .footer-content { 
    width: 1200px;
    margin: 0 auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

footer .footer-content ul li a  {
    height: 18px;
    line-height: 18px;
    color:var(--soft-black);
}

footer .footer-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .footer-content ul li {
    margin: 0;
    padding: 0 0 17px;
}

.footer-container form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-container button {
    height: 44px;
    width: 190px;
    background: var(--button-dark-color);
    border-radius: 44px;
    color: white;
    margin: 16px;
}

.footer-container input {
    border: none;
    background-color: white;
    border-radius: 44px;
    height: 36px;
    width: 180px;
    color: #3D567566;
    padding: 8px;
}


    
    




