@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --button-dark-color: #3D5675;
    --soft-black: #011F3A;
    --button-light-color: #F2F2F2;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(152, 152, 152);
    border-radius: 100px;
    margin-top: 62px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(119, 118, 118);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #EEEEEE;
    overflow: hidden;
}

h1,h2,h3, button {
    font-weight: 700;
    text-align: center;
    color: #011F3A;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3{
    font-weight: 400;
}

p li,
a {
    font-weight: 400;
    color: var(--soft-black);
    text-decoration: none;
}

a{
    font-size: 14px;
    line-height: 18px;
}

p {
    line-height: 24px;
    font-size: 16px;
}

button {
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    border: 0;
    min-width: 110px;
    cursor: pointer;
}
.app{
    overflow:auto; 
    position:absolute;
    top: 62px; 
    left:0;
    right:0; 
    bottom:0;
}
